[user]
	name = Pavel V
	email = pavel@299792458.ru
#	signingkey = pavel@299792458.ru
[color]
	diff = auto
	status = auto
	branch = auto
	grep = auto
[merge]
	tool = threesome
[mergetool "threesome"]
	cmd = "vim -f $BASE $LOCAL $REMOTE $MERGED -c 'ThreesomeInit'"
	trustExitCode = true
[push]
	default = simple
[diff]
    compactionHeuristic = true
[alias]
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    ll = log --oneline --all --graph
    s = status -sb
[interactive]
	diffFilter = diff-highlight
[commit]
    #gpgsign = true
